<html>
<meta charset="UTF-8">
<title>Карты Против Всех Онлайн - Cards Against Humanity на русском</title>
<meta name="keywords" content="карточная, игра, онлайн, веселая, угарная">
<meta name="description"
    content="Карты Против Всех - угарная бесплатная онлайн игра для веселых людей! Аналог Cards Against Humanity, на русском языке и онлайн!">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="image_src" href="/vk_repost_image.png">
<link rel="stylesheet" href="font-awesome.css">
<link rel="stylesheet" href="cat-style.1.5.css">
<script type="text/javascript" src="cat-plugin.2.0.1.js"></script>
<!-- <script type="text/javascript" src="cards.1.6.js"></script> -->
<script type="text/javascript" src="/card"></script>
<script type="text/javascript" src="/words"></script>
<script type="text/javascript" src="cat-script.2.4.js"></script>

<body>
    <div class="ios_helper">
        <div id="custom_body" class="custom_body">
            <div id="start_text_1">
                Карты Против Всех - угарная бесплатная онлайн игра для веселых людей! Аналог Cards Against Humanity, на
                русском языке и онлайн!
            </div>
        </div>
        <div class="chat">
            <div class="chat_obertka" id="chat_obertka">
                <div id="chat" class="chatblok"></div>
                <form id="sendform" action="#">
                    <input id="message" type="text" class="chat_message" autocomplete="off">
                    <input type="submit" value="Сказать" class="chat_knopka" onclick="return Sendmsg()">
                </form>
            </div>
            <div class="players_st_bl" id="players_st_bl0">
                <div id="players_st_bl">
                    <div class="players_st_bl_1">
                        <div class="players_st_b1" id="players_st_b1_1"><i class="fa fa-users"></i> игроков онлайн:
                        </div>
                        <div class="players_st_b1" id="players_st_b1_2"><i class="fa fa-rocket"></i> активных игр:</div>
                        <div class="players_st_b1" id="players_st_b1_3"><i class="fa fa-heart-o"></i> зарегистрировано:
                        </div>
                    </div>
                    <div class="players_st_bl_2">
                        <div class="players_st_b1" id="stat_x1"></div>
                        <div class="players_st_b1" id="stat_x2"></div>
                        <div class="players_st_b1" id="stat_x3"></div>
                    </div>
                    <input type="submit" class="predlog_text_k3 predlog_text_kk" onclick="Predlog_kart(1)"
                        value="предложить карту">
                    <input type="submit" class="predlog_text_k4 predlog_text_kk" onclick="Predlog_kart(2)"
                        value="сообщить об ошибке">
                </div>
            </div>
        </div>
    </div>
    <center><a href="https://github.com/DmitrySenpai/Cardsvs-Reload" target="_blank">Cardsvs Reload 1.1 Alpha</a></center>
</body>

</html>